:root {
  --myblue: #17234B;
  --myred: #AD1F24;
}

* {
  font-family: georgia;
}

a:link,
a:visited {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: var(--myred);
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 16px 0px 16px 0px;
}

header img {
  width: 100%;
  padding: 16px 0px 16px 0px;
}

html {
  height: 100%;
}

nav {
  background-color: var(--myred);
}

nav a {
  font-weight: bold;
}

nav a:link {
  text-decoration: none;
}

p {
  text-align: justify;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: justify;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

p.card-text {
  text-align: center;
}

p.gm-style-pbt {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#carouselExampleIndicators {
  max-width: 700px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;
  background-color: black;
}

#map {
  height: 70vh;  /* The height is 400 pixels */
  width: 90%;  /* The width is the width of the web page */
}

#error img {
  width: 100%;
  padding: 0px;
}

#movebtn {
  transition: margin-left 0.5s;
  position:absolute;
  top: 50%;
}

.btn {
  border-radius: 4px;
  color: white;
  background-color: green;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  border: 2px solid green;
  color: green;
  background: white;
}

.contact {
  background-color: orange;
}

.contact:hover{
  border: 2px solid orange;
  color: orange;
}

.card {
  cursor: pointer;
}

.carousel-caption {
  color: black;
  background-color: rgb(255,255,255,0.7);
  padding: 16px 0px 0px 0px;
  bottom: 20px;
}

.carousel-indicators {
  bottom: -8px;
}

.carousel-indicators li {
  background-color: rgb(255,255,255,0.7);
}

.carousel-inner {
  background-color: black;
}

.carousel-inner img {
  height: 70vh;
  object-fit: contain;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  position: fixed;
  background-color: rgb(0,0,0,0.5);
}

.modal-dialog {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  height: 90vh;
}

.sidenav {
  height: 100%;
  width: 0; /*Change in main.js*/
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: var(--myred);
  background-color: white;
  overflow-x: hidden;
  padding-top: 110px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  color: var(--myblue);
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
  color: var(--myred);
}

.sidenav .closebtn {
  position: absolute;
  top: 55px;
  right: 15px;
  font-size: 30px;
  margin-left: 50px;
  cursor: pointer;
}

.sidenavbtn {
  position: fixed;
  font-size: 30px;
  cursor: pointer;
  color: var(--myblue);
  padding: 5px 10px 5px 10px;
}

.sidenavbtn:hover {
  color: var(--myred);
  cursor: pointer;
}

