:root {
  --myblue: #17234B;
  --myred: #AD1F24;
}

* {
  font-family: georgia;
}

html {
  height: 100%;
}

header img {
  width: 100%;
  padding: 16px 0px 16px 0px;
}

nav {
  background-color: var(--myred);
}

nav a {
  font-weight: bold;
}

p {
  text-align: justify;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

p a:link, a:visited {
  color: black;
  text-decoration: underline;
}

p a:hover {
  color: var(--myred);
}

footer {
  text-align: center;
  padding: 16px 0px 16px 0px;
}

#carouselExampleIndicators {
  max-width: 700px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 0px 16px 0px;
}
