:root {
  --myblue: #17234B;
  --myred: #AD1F24;
}

* {
  font-family: georgia;
}

html {
  height: 100%;
}

a:link, a:visited {
  color: black;
  font-weight: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

header img {
  width: 100%;
}

nav {
  width: 100%;
  overflow: hidden;
}

nav a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0px;
  transition: all 0.3s ease;
  background-color: white;
  color: var(--myblue);
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: var(--myred);
}

nav a:link, nav a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

p {
  text-align: justify;
}
